# Игнорировать файлы кэша Python
__pycache__/
*.pyc

# Игнорировать виртуальные окружения

venv/
.env

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать системные файлы Mac
.DS_Store

# Игнорировать настройки IDE
.idea/